In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

from urllib.request import urlopen
import json

In [3]:
df = pd.read_csv("ilceler.csv")

In [4]:
df["ilce-il"] = df.ilce + " " + "(" + df.il + ")"

In [5]:
df = df[['il', 'ilce', 'ilce-il', 'yil', 'ay', 'satis']]

In [6]:
df.to_csv("ilcelerr.csv")

In [13]:
df.groupby(["yil", "il"]).sum().reset_index()

      yil              il   ay   satis
0    2015           Adana  665   23109
1    2015        Adıyaman  237    4626
2    2015  Afyonkarahisar  373    7053
3    2015         Aksaray  149    5054
4    2015          Amasya  234    4096
..    ...             ...  ...     ...
640  2022           Çorum   46    3200
641  2022        İstanbul  584  106302
642  2022           İzmir  397   34514
643  2022       Şanlıurfa  116    9349
644  2022          Şırnak   21     405

[645 rows x 4 columns]